@import '../../styles/base/core';
@import '../../styles/variables/color';
@import '../../styles/variables/typography';
@import '../../styles/variables/motion';

$link-prefix: '#{$prefix}-link';

.#{$link-prefix}--wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.#{$link-prefix} {
  display: inline;
  text-decoration: none;
  vertical-align: middle;
  color: $indigo;
  outline: none;
  transition: color $duration-fast $ease-in;
  cursor: pointer;

  &.#{$link-prefix}--size-large {
    font-size: $typography-paragraph1;
  }
  &.#{$link-prefix}--size-normal {
    font-size: $typography-paragraph2;
  }
  &.#{$link-prefix}--size-small {
    font-size: $typography-paragraph3;
  }
  &.#{$link-prefix}--size-tiny {
    font-size: $typography-caption1;
  }
  &.#{$link-prefix}--size-tiniest {
    font-size: $typography-caption2;
  }

  &:hover {
    color: $indigo-dark;
    text-decoration: underline;
  }

  &:active,
  &:active:visited,
  &:active:visited:hover {
    color: $indigo-darker;
    text-decoration: underline;
  }

  &:not([href]):not(a),
  &.#{$link-prefix}--disabled {
    color: $ink-light;
    cursor: not-allowed;
    pointer-events: none;
    touch-action: none;
  }
}

.#{$link-prefix}--loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
