@import '../../styles/base/core';
@import '../../styles/variables/color';
@import '../../styles/variables/typography';
@import '../../styles/variables/motion';

$tag-prefix: '#{$prefix}-tag';

.#{$tag-prefix} {
  display: inline-flex;
  padding: 6px 8px;
  align-items: center;
  color: $indigo;
  border-radius: 2px;
  border: 1px solid $indigo;
  transition: color $duration-fast $ease-in, border $duration-fast $ease-in;
  cursor: default;

  &:hover {
    color: $indigo-dark;
    border: 1px solid $indigo-dark;
  }

  &.#{$tag-prefix}--disabled {
    color: $ink-light;
    border: 1px solid $ink-light;
    cursor: not-allowed;
  }

  .#{$tag-prefix}--delete {
    margin-left: 4px;
    vertical-align: middle;
    opacity: 0.8;
    transition: opacity $duration-fast;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
