@import '../../styles/base/core';
@import '../../styles/variables/typography';
@import '../../styles/variables/color';

$header-prefix: '#{$prefix}-header';

.#{$header-prefix} {
  display: block;
  margin: 0;

  &[contenteditable='true']:empty:before {
    content: attr(placeholder);
    color: $sky-dark;
    cursor: text;
  }

  &[contenteditable='true']:focus {
    outline: none;
  }
}

h1.#{$header-prefix} {
  font-size: $typography-heading1;
  line-height: 26px;
}

h2.#{$header-prefix} {
  font-size: $typography-heading2;
  line-height: 24px;
}

h3.#{$header-prefix} {
  font-size: $typography-heading3;
  line-height: 22px;
}
