@import '../../styles/base/core';
@import '../../styles/variables/typography';
@import '../../styles/variables/color';

$header-prefix: '#{$prefix}-header';

.#{$header-prefix} {
  display: block;
  margin: 0;

  &[contenteditable='true']:empty:before {
    content: attr(placeholder);
    color: $sky-dark;
    border-bottom: 1px solid $sky-dark;
    cursor: text;
  }

  &[contenteditable='true']:focus {
    outline: none;
  }
}

h1.#{$header-prefix} {
  font-size: $header-size-xlarge;
}

h2.#{$header-prefix} {
  font-size: $header-size-large;
}

h3.#{$header-prefix} {
  font-size: $header-size-normal;
}

h4.#{$header-prefix} {
  font-size: $header-size-small;
}
