@import '../../styles/base/core';
@import '../../styles/variables/color';

$skeleton-prefix: '#{$prefix}-skeleton';

.#{$skeleton-prefix} {
  display: inline-block;
  border-radius: 4px;
  background-image: linear-gradient(90deg, $sky 0px, #efefef 40px, $sky 80px);
  background-size: 200% 100%;
  background-position: 0 center;
  animation: #{$skeleton-prefix}--zoom-in 0.2s ease-out, #{$skeleton-prefix}--loading 2s infinite linear;

  @keyframes #{$skeleton-prefix}--zoom-in {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
  }

  @keyframes #{$skeleton-prefix}--loading {
    0% { background-position-x: 100%; }
    50% { background-position-x: -100%; }
    100% { background-position-x: -100%; }
  }
}