@import '../../styles/base/core';
@import '../../styles/helpers/mixins';
@import '../../styles/variables/motion';
@import '../../styles/variables/color';

$card-prefix: '#{$prefix}-card';

.#{$card-prefix} {
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
  background-color: white;

  .#{$card-prefix}--header {
    min-height: 56px;
    box-shadow: inset 0 -1px 0 0 $sky;

    .#{$card-prefix}--title {
      display: inline-flex;
      height: 56px;
      margin-left: 16px;
      align-items: center;
      vertical-align: middle;
    }

    .#{$card-prefix}--collapse-dropdown {
      float: right;
      display: inline-flex;
      height: 56px;
      margin-right: 20px;
      align-items: center;
      vertical-align: middle;

      .#{$card-prefix}--caret {
        width: 20px;
        height: 20px;
        transition: transform $duration-fast;
        cursor: pointer;

        &.reverse {
          transform: rotateZ(180deg) !important;
        }
      }
    }

    @include clearfix;
  }

  .#{$card-prefix}--content {
    height: auto;
    box-sizing: border-box;
  }

  .#{$card-prefix}--footer {
    min-height: 56px;
    box-shadow: inset 0 1px 0 0 $sky;
  }
}
