@import '../../styles/base/core';
@import '../../styles/variables/typography';

$pagination-prefix: '#{$prefix}-pagination';

.#{$pagination-prefix} {
  display: inline-flex;
  align-items: center;

  .#{$pagination-prefix}--page {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 7px 0px;
    text-align: center;
    font-size: $typography-paragraph2;
    line-height: 16px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.65);
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0px;
    }

    &.#{$pagination-prefix}--active {
      color: #5d6bc5;
      border: 1px solid #5d6bc5;
    }
  }
  .#{$pagination-prefix}--arrow {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;

    &:first-of-type {
      margin-right: 8px;
    }

    &:last-of-type {
      margin-left: 8px;
    }
  }

  .#{$pagination-prefix}--disabled {
    pointer-events: none;
  }

  .#{$pagination-prefix}--bullet {
    margin-right: 8px;
  }

  .#{$pagination-prefix}--circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: #d9d9d9;

    &:last-of-type {
      margin-right: 0px;
    }
  }
}
