@import '../../styles/base/core';
@import '../../styles/variables/color';
@import '../../styles/variables/typography';

$menu-prefix: '#{$prefix}-menu';
$menu-divider-prefix: '#{$prefix}-menu-divider';
$menu-item-prefix: '#{$prefix}-menu-item';

.#{$menu-prefix} {
  display: block;
  padding: 8px 0;
  margin: 0;
  font-size: $typography-paragraph3;
  background-color: white;
  list-style-type: none;

  .#{$menu-item-prefix} {
    position: relative;
    height: 36px;
    padding: 8px 16px;
    color: $ink-light;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s;
    will-change: background-color;

    .#{$menu-item-prefix}--icon {
      margin-right: 8px;
      svg {
        fill: $ink-light;
      }
    }

    .#{$menu-item-prefix}--badge {
      float: right;
      margin-right: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: border-color 0.2s;
      will-change: border-color;
    }

    &:hover {
      color: $ink;
      background-color: $indigo-lighter;

      .#{$menu-item-prefix}--icon {
        svg {
          fill: $ink;
        }
      }

      &::before {
        border-left: 2px solid $indigo;
      }
    }

    &.#{$menu-item-prefix}--disabled {
      color: $border;
      cursor: not-allowed;

      .#{$menu-item-prefix}--icon {
        svg {
          fill: $border;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .#{$menu-divider-prefix} {
    height: 1px;
    margin: 8px 0;
    background-color: $border;
  }
}
