@import '../../styles/base/core';
@import '../../styles/variables/color';

$breadcrumb-prefix: '#{$prefix}-breadcrumb';

.#{$breadcrumb-prefix} {
  .#{$breadcrumb-prefix}-item {
    display: inline-flex;
    height: 20px;
    align-items: center;
    vertical-align: middle;

    .#{$breadcrumb-prefix}-item--text {
      margin-top: -2px;
      color: $ink-lighter;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        color: $ink-light;
      }

      svg:hover {
        fill: $ink-light !important;
      }
    }

    .#{$breadcrumb-prefix}-item--separator {
      padding: 0 8px;
      vertical-align: middle;
    }
  }
}
