@import '../../styles/base/core';
@import '../../styles/variables/screen';

$row-prefix: '#{$prefix}-row';
$col-prefix: '#{$prefix}-col';

$grid-count: 12;

.#{$row-prefix} {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;

  &.#{$row-prefix}--justify-center {
    justify-content: center;
  }
  &.#{$row-prefix}--justify-end {
    justify-content: flex-end;
  }
  &.#{$row-prefix}--justify-space-around {
    justify-content: space-around;
  }
  &.#{$row-prefix}--justify-space-between {
    justify-content: space-between;
  }
  &.#{$row-prefix}--align-top {
    align-items: flex-start;
  }
  &.#{$row-prefix}--align-middle {
    align-items: center;
  }
  &.#{$row-prefix}--align-bottom {
    align-items: flex-end;
  }
}

.#{$col-prefix} {
  max-width: 100%;
  box-sizing: border-box;

  @for $i from 0 to $grid-count + 1 {
    &.#{$col-prefix}--col-#{$i} {
      width: #{percentage($i / $grid-count)};
    }

    &.#{$col-prefix}--col-offset-#{$i} {
      margin-left: #{percentage($i / $grid-count)};
    }

    &.#{$col-prefix}--order-#{$i} {
      order: #{$i};
    }
  }

  @media (max-width: $screen-xs-max) {
    @for $i from 0 to $grid-count + 1 {
      &.#{$col-prefix}--xs-col-#{$i} {
        width: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--xs-col-offset-#{$i} {
        margin-left: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--xs-order-#{$i} {
        order: #{$i};
      }
    }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @for $i from 0 to $grid-count + 1 {
      &.#{$col-prefix}--sm-col-#{$i} {
        width: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--sm-col-offset-#{$i} {
        margin-left: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--sm-order-#{$i} {
        order: #{$i};
      }
    }
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @for $i from 0 to $grid-count + 1 {
      &.#{$col-prefix}--md-col-#{$i} {
        width: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--md-col-offset-#{$i} {
        margin-left: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--md-order-#{$i} {
        order: #{$i};
      }
    }
  }

  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    @for $i from 0 to $grid-count + 1 {
      &.#{$col-prefix}--lg-col-#{$i} {
        width: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--lg-col-offset-#{$i} {
        margin-left: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--lg-order-#{$i} {
        order: #{$i};
      }
    }
  }

  @media (min-width: $screen-xl-min) and (max-width: $screen-lg-max) {
    @for $i from 0 to $grid-count + 1 {
      &.#{$col-prefix}--xl-col-#{$i} {
        width: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--xl-col-offset-#{$i} {
        margin-left: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--xl-order-#{$i} {
        order: #{$i};
      }
    }
  }

  @media (min-width: $screen-xxl-min) {
    @for $i from 0 to $grid-count + 1 {
      &.#{$col-prefix}--xxl-col-#{$i} {
        width: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--xxl-col-offset-#{$i} {
        margin-left: #{percentage($i / $grid-count)};
      }

      &.#{$col-prefix}--xxl-order-#{$i} {
        order: #{$i};
      }
    }
  }
}
