@import './base/reset';
@import './base/core';
@import './variables/color';
@import './variables/spacing';
@import './variables/typography';
@import './variables/motion';
@import './helpers/mixins';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: $typography-paragraph2;
  line-height: 1.3;
  letter-spacing: -0.3px;
  color: $ink;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
  -ms-overflow-style: scrollbar;
}
