@import '../../styles/base/core';
@import '../../styles/variables/typography';
@import '../../styles/variables/color';
@import '../../styles/variables/motion';

$textarea-prefix: '#{$prefix}-textarea';

.#{$textarea-prefix}--container {
  position: relative;

  .#{$textarea-prefix}--label {
    margin-bottom: 2px;
    vertical-align: middle;
  }

  .#{$textarea-prefix} {
    display: inline-flex;
    padding: 10px;
    width: 100%;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    color: $ink;
    border: none;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    transition: border $duration-moderate, box-shadow $duration-moderate;

    &::placeholder {
      color: $ink-lighter;
    }

    &.#{$textarea-prefix}--border-type-border {
      border: solid 1px $sky-dark;
      border-radius: 3px;
      box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
      background-color: white;

      &:focus {
        border: 1px solid $indigo;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
      }
      &:not(.#{$textarea-prefix}--readonly):disabled {
        background: #f9fafb;
        border: 1px solid $sky;
      }
      &.#{$textarea-prefix}--error {
        background-color: $red-lighter;
        border: 1px solid $red-dark;

        &:focus {
          box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
        }
      }
      &.#{$textarea-prefix}--invalid {
        background-color: $amber-lighter;
        border: 1px solid $amber-dark;

        &.#{$textarea-prefix}--focused {
          box-shadow: 0 0 0 2px rgba(255, 24, 24, 0.2);
        }
      }
    }
    &.#{$textarea-prefix}--border-type-underline {
      padding: 6px;
      border-bottom: solid 1px $sky-dark;

      &:focus {
        border-color: $indigo;
      }
      &:not(.#{$textarea-prefix}--readonly):disabled {
        border-color: $sky;
      }
      &.#{$textarea-prefix}--error {
        border-color: $red-dark;
      }
      &.#{$textarea-prefix}--invalid {
        border-color: $amber-dark;
      }
    }
    &.#{$textarea-prefix}--border-type-none {
      border: none;
    }

    &:not(.#{$textarea-prefix}--readonly):disabled {
      color: #919eab;
      cursor: not-allowed;
    }
  }

  .#{$textarea-prefix}--loading {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
