@import '../../styles/base/core';
@import '../../styles/variables/typography';
@import '../../styles/variables/color';

$checkbox-prefix: '#{$prefix}-checkbox';

.#{$checkbox-prefix} {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  z-index: 0;

  &:hover {
    &::before {
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border-radius: 4px;
      background-color: $sky;
      z-index: -1;
    }
  }

  &:active {
    &::before {
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border-radius: 4px;
      background-color: $sky-dark;
      z-index: -1;
    }
  }

  input {
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  .#{$checkbox-prefix}--checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  .#{$checkbox-prefix}--text {
    padding-left: 8px;
    font-size: $typography-caption1;
    vertical-align: middle;
  }

  &.#{$checkbox-prefix}--disabled {
    cursor: not-allowed;
  }

  &.#{$checkbox-prefix}--block {
    display: flex;
  }
}
