@import '../../styles/base/core';
@import '../../styles/variables/color';
@import '../../styles/variables/motion';

$avatar-prefix: '#{$prefix}-avatar';

.#{$avatar-prefix} {
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;

  &.#{$avatar-prefix}--shape-circle {
    border-radius: 50%;
  }
  &.#{$avatar-prefix}--shape-square {
    border-radius: 4px;
  }

  .#{$avatar-prefix}--image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity $duration-fast $ease-in;

    &.#{$avatar-prefix}--image-loaded {
      opacity: 1;
    }
  }
}
