@import '../../styles/base/core';

$avatar-prefix: '#{$prefix}-avatar';

:global {
  .#{$avatar-prefix} {
    position: relative;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: white;
    background: #ccc;
    overflow: hidden;

    &.#{$avatar-prefix}--shape-circle {
      border-radius: 50%;
    }
    &.#{$avatar-prefix}--shape-square {
      border-radius: 4px;
    }

    .#{$avatar-prefix}--text {
      position: absolute;
      left: 50%;
      transform-origin: 0 center;
    }

    .#{$avatar-prefix}--image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}