@import '../../styles/base/core';
@import '../../styles/variables/typography';
@import '../../styles/variables/color';

$text-prefix: '#{$prefix}-text';

.#{$text-prefix} {
  vertical-align: middle;

  mark {
    padding: 0;
    background-color: $blue-light;
    font-family: inherit;
  }

  code {
    margin: 0 0.2em;
    padding: 0.1em 0.4em 0.1em;
    font-family: inherit;
    font-size: 85%;
    background: $sky;
    border: 1px solid $sky-dark;
    border-radius: 3px;
  }

  &.#{$text-prefix}--size-large {
    font-size: $typography-paragraph1;
  }
  &.#{$text-prefix}--size-normal {
    font-size: $typography-paragraph2;
  }
  &.#{$text-prefix}--size-small {
    font-size: $typography-paragraph3;
  }
  &.#{$text-prefix}--size-tiny {
    font-size: $typography-caption1;
  }
  &.#{$text-prefix}--size-tiniest {
    font-size: $typography-caption2;
  }

  &[contenteditable='true']:empty:before {
    content: attr(placeholder);
    color: $sky-dark;
    cursor: text;
  }

  &[contenteditable='true']:focus {
    display: inline-block;
    outline: none;
  }
}

p.#{$text-prefix} {
  margin: 0;
  padding: 16px 0;
  &.#{$text-prefix}--size-large {
    line-height: 22px;
  }
  &.#{$text-prefix}--size-normal {
    line-height: 22px;
  }
  &.#{$text-prefix}--size-small {
    line-height: 20px;
  }
  &.#{$text-prefix}--size-tiny {
    line-height: 18px;
  }
  &.#{$text-prefix}--size-tiniest {
    line-height: 18px;
  }
}
