@import '../../styles/base/core';
@import '../../styles/variables/color';
@import '../../styles/variables/typography';
@import '../../styles/variables/motion';

$modal-prefix: '#{$prefix}-modal';

.#{$modal-prefix}--dim {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 10000;

  .#{$modal-prefix} {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 3px 6px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    z-index: 10001;

    .#{$modal-prefix}--header {
      line-height: 56px;
      padding-left: 24px;
      box-shadow: inset 0px -1px 0px #f0f0f0;
    }

    .#{$modal-prefix}--close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 10;
    }

    .#{$modal-prefix}--footer {
      min-height: 60px;
      box-shadow: inset 0px 1px 0px #f0f0f0;
    }
  }
}
