@import '../../styles/base/core';
@import '../../styles/variables/typography';

$badge-prefix: '#{$prefix}-badge';

.#{$badge-prefix}--container {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .#{$badge-prefix} {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
    height: 20px;
    font-size: $typography-caption1;
    font-weight: bold;
    line-height: 20px;
    border-radius: 40px;
    color: white;
    z-index: 10;
    transform: translate(50%, -50%);
  }
  .#{$badge-prefix}--dot {
    padding: 0;
    width: 6px;
    height: 6px;
    border: 1px solid white;
    border-radius: 50%;
  }
}
