@import '../../styles/base/core';
@import '../../styles/variables/color';

$progress-indicator-prefix: '#{$prefix}-progress-indicator';

.#{$progress-indicator-prefix} {
  display: inline-flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  overflow: hidden;

  .#{$progress-indicator-prefix}-item.#{$progress-indicator-prefix}-item--done + .#{$progress-indicator-prefix}-item--line {
    &:before {
      background-color: $indigo;
    }
  }

  .#{$progress-indicator-prefix}-item {
    position: relative;
    display: block;
    flex: 1;
    color: $border;
    list-style-type: none;

    .#{$progress-indicator-prefix}-item--content {
      width: 100%;
      max-width: 100px;
      text-align: center;

      .#{$progress-indicator-prefix}-item--icon {
        position: relative;
        display: flex;
        width: 14px;
        height: 14px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $border;
        margin: 4px auto 7px auto;
        z-index: 1;
      }
    }

    .#{$progress-indicator-prefix}-item--line {
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      margin-left: 40px;

      &:after {
        content: '';
        display: block;
        width: calc(100% - 44px);
        height: 1px;
        margin-left: 32px;
        background-color: $border;
      }
    }

    &.#{$progress-indicator-prefix}-item--done, &.#{$progress-indicator-prefix}-item--active {
      color: $indigo;

      .#{$progress-indicator-prefix}-item--icon {
        width: 20px;
        height: 20px;
        background-color: $indigo;
        margin: 0 auto 5px auto;
      }
    }

    &.#{$progress-indicator-prefix}-item--done {
      .#{$progress-indicator-prefix}-item--line {
        &:after {
          background-color: $indigo;
        }
      }
    }

    &:last-child {
      flex: 0 0 100px;
      .#{$progress-indicator-prefix}-item--line {
        display: none;
      }
    }
  }
}
