@import '../../styles/base/core';
@import '../../styles/variables/motion';

$icon-prefix: '#{$prefix}-icon';

.#{$icon-prefix} {
  display: inline-block;
  vertical-align: middle;
  transition: all $duration-moderate;

  &.#{$icon-prefix}--size-tiny {
    width: 12px;
    height: 12px;
  }

  &.#{$icon-prefix}--size-small {
    width: 14px;
    height: 14px;
  }

  &.#{$icon-prefix}--size-normal {
    width: 14px;
    height: 14px;
  }

  &.#{$icon-prefix}--size-large {
    width: 16px;
    height: 16px;
  }

  &.#{$icon-prefix}--size-xlarge {
    width: 20px;
    height: 20px;
  }

  &.#{$icon-prefix}--spin {
    animation: #{$icon-prefix}-spin 2500ms infinite linear;
  }

  @keyframes #{$icon-prefix}-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  svg {
    display: block;
  }
}
