@import '../../styles/base/core';
@import '../../styles/variables/motion';

$icon-prefix: '#{$prefix}-icon';

.#{$icon-prefix} {
  display: inline-block;
  vertical-align: middle;
  transition: all $duration-moderate;

  &.#{$icon-prefix}--spin {
    animation: #{$icon-prefix}-spin 2500ms infinite linear;
  }

  @keyframes #{$icon-prefix}-spin {
    100% {
      transform: rotate(360deg);
    }
  }

  svg {
    display: block;
  }
}
