///
/// Color
/// Author: Lee Sun-Hyoup <kciter@cobalt.run>
///

/**
 * Style
 */
$background: #f9fafe;
$border: #cfd8eb;

/**
 * Indigo
 */
$indigo-lighter: #f4f5fa;
$indigo-light: #b3bcf5;
$indigo: #5c6ac4;
$indigo-dark: #404c9a;
$indigo-darker: #000639;

/**
 * Red
 */
$red-lighter: #fbeae5;
$red-light: #fa9a88;
$red: #de3618;
$red-dark: #bf1d08;
$red-darker: #330202;

/**
 * Blue
 */
$blue-lighter: #ebf5fa;
$blue-light: #b4e0fa;
$blue: #006fbb;
$blue-dark: #084e8a;
$blue-darker: #001429;

/**
 * Ink
 */
$ink-lightest: #919eab;
$ink-lighter: #637381;
$ink-light: #454f5b;
$ink: #212b36;

/**
 * Sky
 */
$sky-lighter: #f9fafb;
$sky-light: #f4f6f8;
$sky: #dfe3e8;
$sky-dark: #c4cdd5;
