///
/// Color
/// Author: Lee Sun-Hyoup <kciter@cobalt.run>
///

/**
 * Style
 */
$background: #F9FAFE;
$border: #CFD8EB;

/**
 * Indigo
 */
$indigo-lighter: #F4F5FA;
$indigo-light: #B3BCF5;
$indigo: #5C6AC4;
$indigo-dark: #404C9A;
$indigo-darker: #000639;

/**
 * Red
 */
$red-lighter: #FBEAE5;
$red-light: #FA9A88;
$red: #DE3618;
$red-dark: #BF1D08;
$red-darker: #330202;

/**
 * Blue
 */
$blue-lighter: #EBF5FA;
$blue-light: #B4E0FA;
$blue: #006FBB;
$blue-dark: #084E8A;
$blue-darker: #001429;

/**
 * Ink
 */
$ink-lightest: #919EAB;
$ink-lighter: #637381;
$ink-light: #454F5B;
$ink: #212B36;

/**
 * Sky
 */
$sky-lighter: #F9FAFB;
$sky-light: #F4F6F8;
$sky: #DFE3E8;
$sky-dark: #C4CDD5;