$screen-xs-max: 575px;

$screen-sm-min: 576px;
$screen-sm-max: 767px;

$screen-md-min: 768px;
$screen-md-max: 991px;

$screen-lg-min: 992px;
$screen-lg-max: 1199px;

$screen-xl-min: 1200px;
$screen-xl-max: 1439px;

$screen-xxl-min: 1440px;