///
/// Spacing
/// Author: Lee Sun-Hyoup <kciter@cobalt.run>
///

/**
 * Spacing
 */
$spacing-01: 2px;
$spacing-02: 4px;
$spacing-03: 8px;
$spacing-04: 12px;
$spacing-05: 16px;
$spacing-06: 24px;
$spacing-07: 32px;
$spacing-08: 40px;
$spacing-09: 48px;