///
/// Typography
/// Author: Lee Sun-Hyoup <kciter@cobalt.run>
///

/**
 * Font
 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/**
 * Header Size
 */
$header-size-xlarge: 42px;
$header-size-large: 28px;
$header-size-normal: 26px;
$header-size-small: 24px;

/**
 * Text Size
 */
$text-size-large: 14px;
$text-size-normal: 14px;
$text-size-small: 12px;