///
/// Typography
/// Author: Lee Sun-Hyoup <kciter@cobalt.run>
///

$typography-heading1: 20px;
$typography-heading2: 18px;
$typography-heading3: 16px;

$typography-paragraph1: 15px;
$typography-paragraph2: 14px;
$typography-paragraph3: 13px;

$typography-caption1: 12px;
$typography-caption2: 11px;
