///
/// Typography
/// Author: Lee Sun-Hyoup <kciter@cobalt.run>
///

/**
 * Header Size
 */
$header-size-xlarge: 42px;
$header-size-large: 28px;
$header-size-normal: 26px;
$header-size-small: 20px;

/**
 * Text Size
 */
$text-size-large: 16px;
$text-size-normal: 14px;
$text-size-small: 12px;
