@import '../../styles/base/core';

$upload-prefix: '#{$prefix}-upload';

.#{$upload-prefix} {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;

  input[type='file'] {
    display: none;
  }
}
