@import '../../styles/base/core';
@import '../../styles/variables/color';
@import '../../styles/variables/typography';
@import '../../styles/variables/motion';

$navigation-prefix: '#{$prefix}-navigation';
$navigation-item-prefix: '#{$prefix}-navigation-item';
$navigation-sub-item-prefix: '#{$prefix}-navigation-sub-item';

.#{$navigation-prefix} {
  display: inline-flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: left;
  overflow: hidden;

  .#{$navigation-item-prefix} {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 46px;
    padding-left: 24px;
    align-items: center;
    font-size: $typography-caption1;
    line-height: 17px;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    &.#{$navigation-item-prefix}--active {
      background-color: $indigo-lighter;
      color: $indigo;

      svg {
        fill: $indigo;
      }
    }

    &.#{$navigation-item-prefix}--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(.nohover):not(.disabled):hover {
      background-color: #E9EBF5;
    }

    .#{$navigation-item-prefix}--icon {
      margin-right: 8px;
      vertical-align: middle;
    }

    .#{$navigation-item-prefix}--title {
      vertical-align: middle;
    }
  }

  .#{$navigation-sub-item-prefix} {
    position: relative;
    display: inline-flex;
    height: 32px;
    padding-left: 52px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    .#{$navigation-sub-item-prefix}--title {
      vertical-align: middle;
      font-size: $typography-caption2;
      color: $ink-light;
    }

    &:hover {
      .#{$navigation-sub-item-prefix}--title {
        color: $ink;
      }
    }

    &.#{$navigation-sub-item-prefix}--active {
      .#{$navigation-sub-item-prefix}--title {
        font-weight: bold;
        color: $indigo;
      }

      &:before {
        content: '';
        position: absolute;
        left: 40px;
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $indigo;
      }
    }

    &.#{$navigation-sub-item-prefix}--disabled {
      cursor: not-allowed;

      .#{$navigation-sub-item-prefix}--title {
        color: $ink-lightest;
      }
    }
  }
}
