@import '../../styles/base/core';
@import '../../styles/variables/color';
@import '../../styles/variables/typography';
@import '../../styles/variables/motion';

$navigation-prefix: '#{$prefix}-navigation';
$navigation-item-prefix: '#{$prefix}-navigation-item';
$navigation-group-prefix: '#{$prefix}-navigation-group';

.#{$navigation-prefix} {
  display: inline-flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: left;
  overflow: hidden;

  > .#{$navigation-item-prefix},
  > .#{$navigation-group-prefix} {
    font-size: $typography-paragraph1;
    font-weight: bold;
  }

  .#{$navigation-item-prefix},
  .#{$navigation-group-prefix} {
    position: relative;
    display: flex;
    height: 40px;
    padding-left: 24px;
    align-items: center;
    transition: color 0.2s ease 0s;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    &:not(:first-child) {
      margin-top: 8px;
    }

    &--icon {
      margin-right: 8px;
      vertical-align: middle;
    }

    &--title {
      vertical-align: middle;
    }
  }

  .#{$navigation-item-prefix} {
    &.#{$navigation-item-prefix}--active {
      border-right: 3px solid $indigo;
      background-color: $indigo-lighter;
      color: $indigo;

      svg {
        fill: $indigo;
      }
    }

    &.#{$navigation-item-prefix}--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(.nohover):not(.disabled):hover {
      background-color: #E9EBF5;
    }
  }

  .#{$navigation-group-prefix} {
    &--active {
      color: $indigo;

      svg {
        fill: $indigo;
      }
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(.nohover):not(.disabled):hover {
      background-color: #E9EBF5;
    }

    &--expand {
      margin-left: auto;
      margin-right: 24px;

      &-open {
        transform: rotate(-180deg);
      }
    }

    &--children {
      padding-top: 8px;
      box-sizing: border-box;

      > .#{$navigation-item-prefix} {
        font-size: $typography-paragraph3;
        font-weight: normal;

        .#{$navigation-item-prefix}--title {
          margin-left: 32px;
        }
        .#{$prefix}-icon + .#{$navigation-item-prefix}--title {
          margin-left: 0;
        }
      }
    }
  }
}
